In [1]:
import pandas as pd

In [2]:
trad_df = pd.read_csv("raw_data/cbb_player_season_trad_stats_07_08_17_raw.csv")
adv_df = pd.read_csv("raw_data/cbb_player_season_adv_stats_07_08_17_raw.csv")

In [3]:
trad_df.head()

,Rk,Player,Class,Season,Pos,School,Conf,G,MP,FG,...,FTA,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,"('Jimmer Fredette', '/cbb/players/jimmer-frede...",SR,2010-11,G,Brigham Young,MWC,37.0,1323.0,346.0,...,282.0,24.0,103.0,127.0,160.0,49.0,1.0,131.0,49.0,1068
1,2,"('Glenn Robinson', '/cbb/players/glenn-robinso...",JR,1993-94,F,Purdue,Big Ten,34.0,1166.0,368.0,...,270.0,NaN,NaN,344.0,66.0,56.0,31.0,139.0,88.0,1030
2,3,"('Stephen Curry', '/cbb/players/stephen-curry-...",JR,2008-09,G,Davidson,Southern,34.0,NaN,312.0,...,251.0,NaN,NaN,151.0,189.0,86.0,8.0,126.0,NaN,974
3,4,"('Kemba Walker', '/cbb/players/kemba-walker-1....",JR,2010-11,G,Connecticut,Big East,41.0,1543.0,316.0,...,315.0,53.0,170.0,223.0,184.0,77.0,7.0,93.0,56.0,965
4,5,"('J.J. Redick', '/cbb/players/jj-redick-1.html')",SR,2005-06,G,Duke,ACC,36.0,1336.0,302.0,...,256.0,NaN,NaN,71.0,95.0,52.0,2.0,NaN,NaN,964

In [4]:
trad_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108530 entries, 0 to 108529
Data columns (total 26 columns):
Rk        108530 non-null int64
Player    108530 non-null object
Class     108021 non-null object
Season    108530 non-null object
Pos       107507 non-null object
School    108530 non-null object
Conf      108530 non-null object
G         108498 non-null float64
MP        39820 non-null float64
FG        108315 non-null float64
FGA       108388 non-null float64
2P        108297 non-null float64
2PA       108337 non-null float64
3P        108499 non-null float64
3PA       108467 non-null float64
FT        107817 non-null float64
FTA       107982 non-null float64
ORB       37499 non-null float64
DRB       37499 non-null float64
TRB       108397 non-null float64
AST       108528 non-null float64
STL       108526 non-null float64
BLK       108524 non-null float64
TOV       47546 non-null float64
PF        38736 non-null float64
PTS       108530 non-null int64
dtypes: float64(18), int64(2), object(6)
memory usage: 21.5+ MB

In [5]:
adv_df.head()

,Rk,Player,Class,Season,Pos,School,Conf,G,MP,PER,...,USG%,PProd,ORtg,DRtg,OWS,DWS,WS,OBPM,DBPM,BPM
0,1,"('Kevin Love', '/cbb/players/kevin-love-1.html')",FR,2007-08,C,UCLA,Pac-10,39.0,1156.0,NaN,...,NaN,NaN,NaN,NaN,5.6,5.7,11.3,NaN,NaN,NaN
1,2,"('Andrew Bogut', '/cbb/players/andrew-bogut-1....",SO,2004-05,F,Utah,MWC,35.0,1224.0,NaN,...,NaN,NaN,NaN,NaN,6.4,4.5,10.9,NaN,NaN,NaN
2,3,"('Paul Millsap', '/cbb/players/paul-millsap-1....",JR,2005-06,F,Louisiana Tech,WAC,33.0,1126.0,NaN,...,NaN,NaN,NaN,NaN,4.1,6.7,10.8,NaN,NaN,NaN
3,4,"('Michael Beasley', '/cbb/players/michael-beas...",FR,2007-08,F,Kansas State,Big 12,33.0,1041.0,NaN,...,NaN,NaN,NaN,NaN,5.4,5.4,10.7,NaN,NaN,NaN
4,5,"('Tim Duncan', '/cbb/players/tim-duncan-1.html')",SR,1996-97,C,Wake Forest,ACC,31.0,1137.0,NaN,...,NaN,NaN,NaN,NaN,5.5,4.9,10.4,NaN,NaN,NaN

In [6]:
adv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96789 entries, 0 to 96788
Data columns (total 29 columns):
Rk        96789 non-null int64
Player    96789 non-null object
Class     96422 non-null object
Season    96789 non-null object
Pos       95933 non-null object
School    96789 non-null object
Conf      96789 non-null object
G         96757 non-null float64
MP        39242 non-null float64
PER       37345 non-null float64
TS%       94615 non-null float64
eFG%      94271 non-null float64
ORB%      37345 non-null float64
DRB%      37345 non-null float64
TRB%      37345 non-null float64
AST%      37347 non-null float64
STL%      37345 non-null float64
BLK%      37345 non-null float64
TOV%      46224 non-null float64
USG%      37345 non-null float64
PProd     37345 non-null float64
ORtg      36862 non-null float64
DRtg      37345 non-null float64
OWS       96789 non-null float64
DWS       96789 non-null float64
WS        96789 non-null float64
OBPM      32974 non-null float64
DBPM      32974 non-null float64
BPM       32974 non-null float64
dtypes: float64(22), int64(1), object(6)
memory usage: 21.4+ MB

In [7]:
adv_players = adv_df.Player.str.split(', ', expand=True)

In [8]:
adv_players[0] = adv_players[0].str.strip("(\'")

In [9]:
adv_players[1] = adv_players[1].str.strip(")\'").str.extract("/.*/.*/(.*)\.", 
                                                             expand=False)

In [10]:
adv_players.head()

                 0                  1     2
0       Kevin Love       kevin-love-1  None
1     Andrew Bogut     andrew-bogut-1  None
2     Paul Millsap     paul-millsap-1  None
3  Michael Beasley  michael-beasley-1  None
4       Tim Duncan       tim-duncan-1  None

In [11]:
adv_players.values[:2]

array([['Kevin Love', 'kevin-love-1', None],
       ['Andrew Bogut', 'andrew-bogut-1', None]], dtype=object)

In [12]:
adv_df[["Player", "Sref_Cbb_ID"]] = adv_players[[0, 1]]

In [13]:
adv_df.head()

,Rk,Player,Class,Season,Pos,School,Conf,G,MP,PER,...,PProd,ORtg,DRtg,OWS,DWS,WS,OBPM,DBPM,BPM,Sref_Cbb_ID
0,1,Kevin Love,FR,2007-08,C,UCLA,Pac-10,39.0,1156.0,NaN,...,NaN,NaN,NaN,5.6,5.7,11.3,NaN,NaN,NaN,kevin-love-1
1,2,Andrew Bogut,SO,2004-05,F,Utah,MWC,35.0,1224.0,NaN,...,NaN,NaN,NaN,6.4,4.5,10.9,NaN,NaN,NaN,andrew-bogut-1
2,3,Paul Millsap,JR,2005-06,F,Louisiana Tech,WAC,33.0,1126.0,NaN,...,NaN,NaN,NaN,4.1,6.7,10.8,NaN,NaN,NaN,paul-millsap-1
3,4,Michael Beasley,FR,2007-08,F,Kansas State,Big 12,33.0,1041.0,NaN,...,NaN,NaN,NaN,5.4,5.4,10.7,NaN,NaN,NaN,michael-beasley-1
4,5,Tim Duncan,SR,1996-97,C,Wake Forest,ACC,31.0,1137.0,NaN,...,NaN,NaN,NaN,5.5,4.9,10.4,NaN,NaN,NaN,tim-duncan-1

In [14]:
trad_players = trad_df.Player.str.split(', ', expand=True)
trad_players[0] = trad_players[0].str.strip("(\'")
trad_players[1] = trad_players[1].str.strip(")\'").str.extract("/.*/.*/(.*)\.", 
                                                             expand=False)
trad_players.head()

                 0                  1     2
0  Jimmer Fredette  jimmer-fredette-1  None
1   Glenn Robinson   glenn-robinson-1  None
2    Stephen Curry    stephen-curry-1  None
3     Kemba Walker     kemba-walker-1  None
4      J.J. Redick        jj-redick-1  None

In [15]:
trad_df[["Player", "Sref_Cbb_ID"]] = trad_players[[0, 1]]

In [16]:
trad_df.head()

,Rk,Player,Class,Season,Pos,School,Conf,G,MP,FG,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Sref_Cbb_ID
0,1,Jimmer Fredette,SR,2010-11,G,Brigham Young,MWC,37.0,1323.0,346.0,...,24.0,103.0,127.0,160.0,49.0,1.0,131.0,49.0,1068,jimmer-fredette-1
1,2,Glenn Robinson,JR,1993-94,F,Purdue,Big Ten,34.0,1166.0,368.0,...,NaN,NaN,344.0,66.0,56.0,31.0,139.0,88.0,1030,glenn-robinson-1
2,3,Stephen Curry,JR,2008-09,G,Davidson,Southern,34.0,NaN,312.0,...,NaN,NaN,151.0,189.0,86.0,8.0,126.0,NaN,974,stephen-curry-1
3,4,Kemba Walker,JR,2010-11,G,Connecticut,Big East,41.0,1543.0,316.0,...,53.0,170.0,223.0,184.0,77.0,7.0,93.0,56.0,965,kemba-walker-1
4,5,J.J. Redick,SR,2005-06,G,Duke,ACC,36.0,1336.0,302.0,...,NaN,NaN,71.0,95.0,52.0,2.0,NaN,NaN,964,jj-redick-1

In [17]:
error_trad_df = pd.read_csv("raw_data/error_df_trad_stats_07_09_17.csv")

In [18]:
error_trad_df.head()

,Rk,Player,Class,Season,Pos,School,Conf,G,MP,FG,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Sref_Cbb_ID
0,105801,Michael Johnette,JR,1996-97,G,Nebraska,Big 12,3.0,NaN,0.0,...,NaN,NaN,0,0,0,0,NaN,NaN,0,michael-johnette-1
1,105802,Antoine Johnson,FR,1997-98,G,East Carolina,CAA,1.0,NaN,0.0,...,NaN,NaN,0,0,0,0,NaN,NaN,0,antoine-johnson-2
2,105803,B.J. Johnson,JR,1999-00,G,Villanova,Big East,6.0,NaN,0.0,...,NaN,NaN,3,0,1,1,NaN,NaN,0,bj-johnson-1
3,105804,Branden Johnson,FR,2015-16,C,Alabama State,SWAC,1.0,0.0,0.0,...,0.0,0.0,0,0,0,0,0.0,1.0,0,branden-johnson-2
4,105805,Branden Johnson,FR,2016-17,C,Alabama State,SWAC,5.0,8.0,0.0,...,1.0,0.0,1,0,0,0,1.0,2.0,0,branden-johnson-2

In [19]:
error_trad_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 27 columns):
Rk             100 non-null int64
Player         100 non-null object
Class          99 non-null object
Season         100 non-null object
Pos            93 non-null object
School         100 non-null object
Conf           100 non-null object
G              99 non-null float64
MP             35 non-null float64
FG             96 non-null float64
FGA            98 non-null float64
2P             96 non-null float64
2PA            98 non-null float64
3P             99 non-null float64
3PA            99 non-null float64
FT             95 non-null float64
FTA            95 non-null float64
ORB            35 non-null float64
DRB            35 non-null float64
TRB            100 non-null int64
AST            100 non-null int64
STL            100 non-null int64
BLK            100 non-null int64
TOV            48 non-null float64
PF             35 non-null float64
PTS            100 non-null int64
Sref_Cbb_ID    99 non-null object
dtypes: float64(14), int64(6), object(7)
memory usage: 21.2+ KB

In [20]:
trad_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108530 entries, 0 to 108529
Data columns (total 27 columns):
Rk             108530 non-null int64
Player         108530 non-null object
Class          108021 non-null object
Season         108530 non-null object
Pos            107507 non-null object
School         108530 non-null object
Conf           108530 non-null object
G              108498 non-null float64
MP             39820 non-null float64
FG             108315 non-null float64
FGA            108388 non-null float64
2P             108297 non-null float64
2PA            108337 non-null float64
3P             108499 non-null float64
3PA            108467 non-null float64
FT             107817 non-null float64
FTA            107982 non-null float64
ORB            37499 non-null float64
DRB            37499 non-null float64
TRB            108397 non-null float64
AST            108528 non-null float64
STL            108526 non-null float64
BLK            108524 non-null float64
TOV            47546 non-null float64
PF             38736 non-null float64
PTS            108530 non-null int64
Sref_Cbb_ID    108528 non-null object
dtypes: float64(18), int64(2), object(7)
memory usage: 22.4+ MB

In [21]:
trad_df2 = pd.concat([trad_df, error_trad_df], ignore_index=True)

In [22]:
trad_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108630 entries, 0 to 108629
Data columns (total 27 columns):
Rk             108630 non-null int64
Player         108630 non-null object
Class          108120 non-null object
Season         108630 non-null object
Pos            107600 non-null object
School         108630 non-null object
Conf           108630 non-null object
G              108597 non-null float64
MP             39855 non-null float64
FG             108411 non-null float64
FGA            108486 non-null float64
2P             108393 non-null float64
2PA            108435 non-null float64
3P             108598 non-null float64
3PA            108566 non-null float64
FT             107912 non-null float64
FTA            108077 non-null float64
ORB            37534 non-null float64
DRB            37534 non-null float64
TRB            108497 non-null float64
AST            108628 non-null float64
STL            108626 non-null float64
BLK            108624 non-null float64
TOV            47594 non-null float64
PF             38771 non-null float64
PTS            108630 non-null int64
Sref_Cbb_ID    108627 non-null object
dtypes: float64(18), int64(2), object(7)
memory usage: 22.4+ MB

In [23]:
adv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96789 entries, 0 to 96788
Data columns (total 30 columns):
Rk             96789 non-null int64
Player         96789 non-null object
Class          96422 non-null object
Season         96789 non-null object
Pos            95933 non-null object
School         96789 non-null object
Conf           96789 non-null object
G              96757 non-null float64
MP             39242 non-null float64
PER            37345 non-null float64
TS%            94615 non-null float64
eFG%           94271 non-null float64
ORB%           37345 non-null float64
DRB%           37345 non-null float64
TRB%           37345 non-null float64
AST%           37347 non-null float64
STL%           37345 non-null float64
BLK%           37345 non-null float64
TOV%           46224 non-null float64
USG%           37345 non-null float64
PProd          37345 non-null float64
ORtg           36862 non-null float64
DRtg           37345 non-null float64
OWS            96789 non-null float64
DWS            96789 non-null float64
WS             96789 non-null float64
OBPM           32974 non-null float64
DBPM           32974 non-null float64
BPM            32974 non-null float64
Sref_Cbb_ID    96787 non-null object
dtypes: float64(22), int64(1), object(7)
memory usage: 22.2+ MB

## Clean up column names

In [24]:
adv_df.columns = adv_df.columns.str.replace("%", "_Pct")

In [25]:
trad_df2.columns.values[11:15] = ["FG_" + col for col in 
                                  trad_df2.columns.values[11:15]]

In [26]:
adv_df.columns

Index(['Rk', 'Player', 'Class', 'Season', 'Pos', 'School', 'Conf', 'G', 'MP',
       'PER', 'TS_Pct', 'eFG_Pct', 'ORB_Pct', 'DRB_Pct', 'TRB_Pct', 'AST_Pct',
       'STL_Pct', 'BLK_Pct', 'TOV_Pct', 'USG_Pct', 'PProd', 'ORtg', 'DRtg',
       'OWS', 'DWS', 'WS', 'OBPM', 'DBPM', 'BPM', 'Sref_Cbb_ID'],
      dtype='object')

In [27]:
trad_df2.columns

Index(['Rk', 'Player', 'Class', 'Season', 'Pos', 'School', 'Conf', 'G', 'MP',
       'FG', 'FGA', 'FG_2P', 'FG_2PA', 'FG_3P', 'FG_3PA', 'FT', 'FTA', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Sref_Cbb_ID'],
      dtype='object')

## Create some FG% columns

In [28]:
trad_df2["FG_Pct"] = trad_df2.FG / trad_df2.FGA
trad_df2["FG_2P_Pct"] = trad_df2.FG_2P / trad_df2.FG_2PA
trad_df2["FG_3P_Pct"] = trad_df2.FG_3P / trad_df2.FG_3PA

In [29]:
trad_df2.head()

,Rk,Player,Class,Season,Pos,School,Conf,G,MP,FG,...,AST,STL,BLK,TOV,PF,PTS,Sref_Cbb_ID,FG_Pct,FG_2P_Pct,FG_3P_Pct
0,1,Jimmer Fredette,SR,2010-11,G,Brigham Young,MWC,37.0,1323.0,346.0,...,160.0,49.0,1.0,131.0,49.0,1068,jimmer-fredette-1,0.452288,0.491150,0.396166
1,2,Glenn Robinson,JR,1993-94,F,Purdue,Big Ten,34.0,1166.0,368.0,...,66.0,56.0,31.0,139.0,88.0,1030,glenn-robinson-1,0.482940,0.521661,0.379808
2,3,Stephen Curry,JR,2008-09,G,Davidson,Southern,34.0,NaN,312.0,...,189.0,86.0,8.0,126.0,NaN,974,stephen-curry-1,0.454148,0.518519,0.386905
3,4,Kemba Walker,JR,2010-11,G,Connecticut,Big East,41.0,1543.0,316.0,...,184.0,77.0,7.0,93.0,56.0,965,kemba-walker-1,0.427605,0.470703,0.330396
4,5,J.J. Redick,SR,2005-06,G,Duke,ACC,36.0,1336.0,302.0,...,95.0,52.0,2.0,NaN,NaN,964,jj-redick-1,0.469673,0.520767,0.421212

In [30]:
# almost forgot FT%
trad_df2["FT_Pct"] = trad_df2.FT / trad_df2.FTA

In [31]:
trad_df2.head()

,Rk,Player,Class,Season,Pos,School,Conf,G,MP,FG,...,STL,BLK,TOV,PF,PTS,Sref_Cbb_ID,FG_Pct,FG_2P_Pct,FG_3P_Pct,FT_Pct
0,1,Jimmer Fredette,SR,2010-11,G,Brigham Young,MWC,37.0,1323.0,346.0,...,49.0,1.0,131.0,49.0,1068,jimmer-fredette-1,0.452288,0.491150,0.396166,0.893617
1,2,Glenn Robinson,JR,1993-94,F,Purdue,Big Ten,34.0,1166.0,368.0,...,56.0,31.0,139.0,88.0,1030,glenn-robinson-1,0.482940,0.521661,0.379808,0.796296
2,3,Stephen Curry,JR,2008-09,G,Davidson,Southern,34.0,NaN,312.0,...,86.0,8.0,126.0,NaN,974,stephen-curry-1,0.454148,0.518519,0.386905,0.876494
3,4,Kemba Walker,JR,2010-11,G,Connecticut,Big East,41.0,1543.0,316.0,...,77.0,7.0,93.0,56.0,965,kemba-walker-1,0.427605,0.470703,0.330396,0.819048
4,5,J.J. Redick,SR,2005-06,G,Duke,ACC,36.0,1336.0,302.0,...,52.0,2.0,NaN,NaN,964,jj-redick-1,0.469673,0.520767,0.421212,0.863281

In [32]:
trad_df2.head()

,Rk,Player,Class,Season,Pos,School,Conf,G,MP,FG,...,STL,BLK,TOV,PF,PTS,Sref_Cbb_ID,FG_Pct,FG_2P_Pct,FG_3P_Pct,FT_Pct
0,1,Jimmer Fredette,SR,2010-11,G,Brigham Young,MWC,37.0,1323.0,346.0,...,49.0,1.0,131.0,49.0,1068,jimmer-fredette-1,0.452288,0.491150,0.396166,0.893617
1,2,Glenn Robinson,JR,1993-94,F,Purdue,Big Ten,34.0,1166.0,368.0,...,56.0,31.0,139.0,88.0,1030,glenn-robinson-1,0.482940,0.521661,0.379808,0.796296
2,3,Stephen Curry,JR,2008-09,G,Davidson,Southern,34.0,NaN,312.0,...,86.0,8.0,126.0,NaN,974,stephen-curry-1,0.454148,0.518519,0.386905,0.876494
3,4,Kemba Walker,JR,2010-11,G,Connecticut,Big East,41.0,1543.0,316.0,...,77.0,7.0,93.0,56.0,965,kemba-walker-1,0.427605,0.470703,0.330396,0.819048
4,5,J.J. Redick,SR,2005-06,G,Duke,ACC,36.0,1336.0,302.0,...,52.0,2.0,NaN,NaN,964,jj-redick-1,0.469673,0.520767,0.421212,0.863281

## Drop Rk column

In [33]:
trad_df2.drop("Rk", axis=1, inplace=True)
adv_df.drop("Rk", axis=1, inplace=True)

In [34]:
trad_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108630 entries, 0 to 108629
Data columns (total 30 columns):
Player         108630 non-null object
Class          108120 non-null object
Season         108630 non-null object
Pos            107600 non-null object
School         108630 non-null object
Conf           108630 non-null object
G              108597 non-null float64
MP             39855 non-null float64
FG             108411 non-null float64
FGA            108486 non-null float64
FG_2P          108393 non-null float64
FG_2PA         108435 non-null float64
FG_3P          108598 non-null float64
FG_3PA         108566 non-null float64
FT             107912 non-null float64
FTA            108077 non-null float64
ORB            37534 non-null float64
DRB            37534 non-null float64
TRB            108497 non-null float64
AST            108628 non-null float64
STL            108626 non-null float64
BLK            108624 non-null float64
TOV            47594 non-null float64
PF             38771 non-null float64
PTS            108630 non-null int64
Sref_Cbb_ID    108627 non-null object
FG_Pct         105923 non-null float64
FG_2P_Pct      104052 non-null float64
FG_3P_Pct      84610 non-null float64
FT_Pct         98928 non-null float64
dtypes: float64(22), int64(1), object(7)
memory usage: 24.9+ MB

In [35]:
adv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96789 entries, 0 to 96788
Data columns (total 29 columns):
Player         96789 non-null object
Class          96422 non-null object
Season         96789 non-null object
Pos            95933 non-null object
School         96789 non-null object
Conf           96789 non-null object
G              96757 non-null float64
MP             39242 non-null float64
PER            37345 non-null float64
TS_Pct         94615 non-null float64
eFG_Pct        94271 non-null float64
ORB_Pct        37345 non-null float64
DRB_Pct        37345 non-null float64
TRB_Pct        37345 non-null float64
AST_Pct        37347 non-null float64
STL_Pct        37345 non-null float64
BLK_Pct        37345 non-null float64
TOV_Pct        46224 non-null float64
USG_Pct        37345 non-null float64
PProd          37345 non-null float64
ORtg           36862 non-null float64
DRtg           37345 non-null float64
OWS            96789 non-null float64
DWS            96789 non-null float64
WS             96789 non-null float64
OBPM           32974 non-null float64
DBPM           32974 non-null float64
BPM            32974 non-null float64
Sref_Cbb_ID    96787 non-null object
dtypes: float64(22), object(7)
memory usage: 21.4+ MB

In [36]:
adv_df.to_csv("processed_data/cbb_player_seasons_adv_stats_07_09_17.csv",
              index=False)
trad_df2.to_csv("processed_data/cbb_player_season_trad_stats_07_09_17.csv",
                index=False)